<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>Edit a todo item: </h1>
    <form method="POST">
        <!-- must add csrf its cross site request forgery token hidden input field when form is submitted, makes sure its actually coming from our request and not our site, django will throw an error if not included -->
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <p>
                <button type="submit"> Edit item </button>
            </p>
        </div>
    </form>


</body>

</html>